<section class="reasons-background">
    <div class="reasons-section">
        <h2 class="reasons-title">Pourquoi choisir Le Quai des Mers ?</h2>
        <div class="reasons-container">
            <div class="reason-card">
                <div class="reason-figure">
                    <img src="assets/fish.png" width="32px" height="32px" alt="Poisson frais" class="reason-icon">

                </div>
                <h3 class="reason-title">Poisson Frais</h3>
                <p class="reason-text">Nos sushis sont préparés avec du poisson frais local, sélectionné pour sa qualité et sa saveur.</p>
            </div>
            <div class="reason-card">
                <div class="reason-figure">
                    <img src="assets/artisanal.png" width="32px" height="32px" alt="Préparation artisanale" class="reason-icon">
                </div>
                <h3 class="reason-title">Préparation Artisanale</h3>
                <p class="reason-text">Chaque plat est soigneusement préparé pour offrir une expérience gustative unique.</p>
            </div>
            <div class="reason-card">
                <div class="reason-figure">
                    <img src="assets/fast.png" width="32px" height="32px" alt="Commande facile" class="reason-icon">

                </div>
                <h3 class="reason-title">Commande Simple</h3>
                <p class="reason-text">Commandez en ligne et récupérez vos sushis rapidement, sans complications.</p>
            </div>
        </div>
    </div>
</section>