<div class="landing-section">
    <h1 class="landing-title">Le Quai Des Mers - Sushi</h1>
    <h2 class="landing-description">Découvrez la facilité de commander des sushis à La Réunion. Ne tardez pas, réservez
        dès maintenant !</h2>
    <div class="landing-options">
        <div class="landing-button">Commander en ligne</div>
        <div class="landing-icons">
            <a class="icon-link" href="https://www.facebook.com/lequaidesmerssaintleu">
            <img width="32px" height="32px" src="assets/facebook.png" alt="facebook">

            </a>
            <a class="icon-link" href="https://www.instagram.com/le_quai_des_mers/">
            <img width="32px" height="32px" src="assets/instagram.png" alt="instagram">

            </a>
        </div>
    </div>

    <div class="landing-hero">
        <div class="hero-1"></div>
        <div class="hero-2"></div>
        <div class="hero-3"></div>
    </div>
</div>