<div class="landing-section">
    <h1 class="landing-title">Le Quai Des Mers - Sushi</h1>
    <h2 class="landing-description">Découvrez la simplicité de commander des sushis à La Réunion. Des produits frais,
        préparés avec soin, vous attendent. Réservez dès maintenant et venez les récupérer en toute simplicité !</h2>
    <div class="landing-options">
        <div class="landing-button">Commander en ligne</div>
        <div class="landing-icons">
            <a class="icon-link" href="https://www.facebook.com/lequaidesmerssaintleu">
                <img width="32px" height="32px" src="assets/facebook.png" alt="facebook">

            </a>
            <a class="icon-link" href="https://www.instagram.com/le_quai_des_mers/">
                <img width="32px" height="32px" src="assets/instagram.png" alt="instagram">
            </a>
        </div>
    </div>
    <div class="landing-hero">
        <img src="assets/hero.png" width="200px" height="200px" alt="">
    </div>
</div>