<div class="products-section">
    <h3 class="section-title">Découvrez nos spécialités 🍣</h3>
    <div class="products-grid">
        <div class="products-card">
            <img src="assets/shape.png" width="24px" height="24px" class="card-design">
            <div class="card-figure">
                <img src="assets/nigiri-cropped.png" width="150px" height="100px" class="card-thumbnail">
            </div>
            <h4 class="card-title">Nigiri (2 pièces)</h4>
            <div class="card-bottom">
                <div class="card-price">4,40 €</div>
                <div class="card-action"><img src="assets/add.png" alt="Ajouter" title="Ajouter au panier" width="10px"
                        height="10px" class="card-icon"></div>
            </div>

        </div>
        <div class="products-card">
            <img src="assets/shape.png" width="24px" height="24px" class="card-design">
            <div class="card-figure">
                <img src="assets/maki-cropped.png" width="150px" height="100px" class="card-thumbnail">
            </div>
            <h4 class="card-title">Makis (8 pièces)</h4>
            <div class="card-bottom">
                <div class="card-price">6,50 €</div>
                <div class="card-action"><img src="assets/add.png" alt="Ajouter" title="Ajouter au panier" width="10px"
                        height="10px" class="card-icon"></div>
            </div>

        </div>
        <div class="products-card">
            <img src="assets/shape.png" width="24px" height="24px" class="card-design">
            <div class="card-figure">
                <img src="assets/sashimi-cropped.png" width="150px" height="100px" class="card-thumbnail">
            </div>
            <h4 class="card-title">Sashimi (6 pièces)</h4>
            <div class="card-bottom">
                <div class="card-price">6,50 €</div>
                <div class="card-action"><img src="assets/add.png" alt="Ajouter" title="Ajouter au panier" width="10px"
                        height="10px" class="card-icon"></div>
            </div>

        </div>
        <div class="products-card">
            <img src="assets/shape.png" width="24px" height="24px" class="card-design">
            <div class="card-figure">
                <img src="assets/plateau-s-cropped.png" width="150px" height="100px" class="card-thumbnail">
            </div>
            <h4 class="card-title">Plateau (10 pièces)</h4>
            <div class="card-bottom">
                <div class="card-price">12,60 €</div>
                <div class="card-action"><img src="assets/add.png" alt="Ajouter" title="Ajouter au panier" width="10px"
                        height="10px" class="card-icon"></div>
            </div>

        </div>
        <div class="products-card">
            <img src="assets/shape.png" width="24px" height="24px" class="card-design">
            <div class="card-figure">
                <img src="assets/rolls-cropped.png" width="150px" height="100px" class="card-thumbnail">
            </div>
            <h4 class="card-title">Dragon Roll</h4>
            <div class="card-bottom">
                <div class="card-price">12,60 €</div>
                <div class="card-action"><img src="assets/add.png" alt="Ajouter" title="Ajouter au panier" width="10px"
                        height="10px" class="card-icon"></div>
            </div>

        </div>
        <div class="products-card">
            <img src="assets/shape.png" width="24px" height="24px" class="card-design">
            <div class="card-figure">
                <img src="assets/pokebowl-cropped.png" width="150px" height="100px" class="card-thumbnail">
            </div>
            <h4 class="card-title">Poke Bowl</h4>
            <div class="card-bottom">
                <div class="card-price">12,90 €</div>
                <div class="card-action"><img src="assets/add.png" alt="Ajouter" title="Ajouter au panier" width="10px"
                        height="10px" class="card-icon"></div>
            </div>

        </div>
        <div class="products-card">
            <img src="assets/shape.png" width="24px" height="24px" class="card-design">
            <div class="card-figure">
                <img src="assets/crispy-cropped.png" width="150px" height="100px" class="card-thumbnail">
            </div>
            <h4 class="card-title">Crispy (8 pièces)</h4>
            <div class="card-bottom">
                <div class="card-price">13,20 €</div>
                <div class="card-action"><img src="assets/add.png" alt="Ajouter" title="Ajouter au panier" width="10px"
                        height="10px" class="card-icon"></div>
            </div>

        </div>

        <div class="products-card">
            <img src="assets/shape.png" width="24px" height="24px" class="card-design">
            <div class="card-figure">
                <img src="assets/california-rolls-cropped.png" width="150px" height="100px" class="card-thumbnail">
            </div>
            <h4 class="card-title">California rolls (8 pièces)</h4>
            <div class="card-bottom">
                <div class="card-price">13,20 €</div>
                <div class="card-action"><img src="assets/add.png" alt="Ajouter" title="Ajouter au panier" width="10px"
                        height="10px" class="card-icon"></div>
            </div>

        </div>


        <div class="products-card">
            <img src="assets/shape.png" width="24px" height="24px" class="card-design">
            <div class="card-figure">
                <img src="assets/plateau-m-cropped.png" width="150px" height="100px" class="card-thumbnail">
            </div>
            <h4 class="card-title">Plateau (20 pièces)</h4>
            <div class="card-bottom">
                <div class="card-price">23,00 €</div>
                <div class="card-action"><img src="assets/add.png" alt="Ajouter" title="Ajouter au panier" width="10px"
                        height="10px" class="card-icon"></div>
            </div>

        </div>
        <div class="products-card">
            <img src="assets/shape.png" width="24px" height="24px" class="card-design">
            <div class="card-figure">
                <img src="assets/plateau-m-cropped.png" width="150px" height="100px" class="card-thumbnail">
            </div>
            <h4 class="card-title">Plateau (40 pièces)</h4>
            <div class="card-bottom">
                <div class="card-price">47,50 €</div>
                <div class="card-action"><img src="assets/add.png" alt="Ajouter" title="Ajouter au panier" width="10px"
                        height="10px" class="card-icon"></div>
            </div>

        </div>
        <div class="products-card">
            <img src="assets/shape.png" width="24px" height="24px" class="card-design">
            <div class="card-figure">
                <img src="assets/plateau-l-cropped.png" width="150px" height="100px" class="card-thumbnail">
            </div>
            <h4 class="card-title">Plateau (64 pièces)</h4>
            <div class="card-bottom">
                <div class="card-price">70,00 €</div>
                <div class="card-action"><img src="assets/add.png" alt="Ajouter" title="Ajouter au panier" width="10px"
                        height="10px" class="card-icon"></div>
            </div>

        </div>
        <div class="products-card">
            <img src="assets/shape.png" width="24px" height="24px" class="card-design">
            <div class="card-figure">
                <img src="assets/plateau-l-cropped.png" width="150px" height="100px" class="card-thumbnail">
            </div>
            <h4 class="card-title">Plateau (100 pièces)</h4>
            <div class="card-bottom">
                <div class="card-price">113,50 €</div>
                <div class="card-action"><img src="assets/add.png" alt="Ajouter" title="Ajouter au panier" width="10px"
                        height="10px" class="card-icon"></div>
            </div>

        </div>
        

    </div>
</div>