<div class="team-section">
    <h1 class="page-title">Notre équipe</h1>
    <h2 class="page-subtitle">Le Quai des mers ce sont trois bateaux et une dizaine de passionnés de la pêche pour vous
        offrir du bon poisson frais.</h2>
    <div class="team-grid">
        <div class="team1">
            <div class="team-card">
                <div class="card-thumbnail thumbnail-lionel">
                </div>
                <div class="card-right">
                    <h3 class="card-title">Lionel</h3>
                    <p class="card-description">Ancien pêcheur et propriétaire d’une entreprise de distribution de poisson sur l’île de la Réunion, a décidé d’ouvrir la poissonnerie pour partager son univers et être au plus proche de la population locale.</p>
                </div>
            </div>
        </div>
        <div class="team2">
            <div class="team-card">
                <div class="card-thumbnail thumbnail-jean-rene">
                </div>
                <div class="card-right">
                    <h3 class="card-title">Jean-René</h3>
                    <p class="card-description">C’est sans hésitation que Lionel a fait appel à Jean-René pour travailler au sein de la poissonnerie. Ayant de nombreuses années d’expérience dans le domaine, c’est avec passion qu’il met en valeur les produits sur l’étal.</p>
                </div>
            </div>
        </div>
        <div class="team3">
            <div class="team-card">
                <div class="card-thumbnail thumbnail-gael">
                </div>
                <div class="card-right">
                    <h3 class="card-title">Gael</h3>
                    <p class="card-description">C’est sans hésitation que Lionel a fait appel à Jean-René pour travailler au sein de la poissonnerie. Ayant de nombreuses années d’expérience dans le domaine, c’est avec passion qu’il met en valeur les produits sur l’étal.</p>
                </div>
            </div>

        </div>
        <div class="team4">
            <div class="team-card">
                <div class="card-thumbnail thumbnail-pierre">
                </div>
                <div class="card-right">
                    <h3 class="card-title">Pierre</h3>
                    <p class="card-description">Pour la partie traiteur, Pierre a été engagé pour vous proposer des poke bowls et autres produits qui subliment nos poissons frais.</p>
                </div>
            </div>
        </div>
    </div>
</div>