.contact-left {
    width: 50%;
    border-right: 3px solid #ececec;
    padding: 0 48px;
    margin-top: 24px;
}

.contact-right {
    border-left: 3px solid #ececec;
    width: 50%;
    padding: 24px 48px;
    margin-top: 24px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 12px;
}

.form-action {
    margin-top: 24px;
}

.form-label {
    font-size: 16px;
    font-weight: 600;
    color: var(--clr-text);
}

.form-input {
    padding: 12px;
    outline: none;
    font-size: 16px;
    border: none;
    border-radius: 2px;
    background: #ececec;
    color: var(--clr-text);
    transition: box-shadow 0.3s ease;
    font-family: Montserrat;
    font-weight: 500;

}

.form-input:focus,
.form-area:focus {
    box-shadow: 0 0 20px 2px var(--clr-accent-shadow);
}

.form-area {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    min-height: 150px;
    max-height: 400px;
    padding: 12px;
    border: none;
    outline: none;
    background: #ececec;
    border-radius: 2px;
    color: var(--clr-text);
    font-size: 16px;
    font-family: Montserrat;
    font-weight: 500;
}

.coord-group {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 24px;
    cursor: pointer;
    width: fit-content;
    padding: 12px 24px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.06);
    border-radius: 2px;
}

.coord-figure {
    width: 48px;
    height: 48px;
    background-color: var(--clr-accent);
    border-radius: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.coord-group:hover .coord-figure {
    background-color: var(--clr-accent);
    transition: .3s;
}

.coord-text {
    letter-spacing: 0.05em;
    font-size: 16px;
    color: var(--clr-text);
    line-height: 150%;
    font-weight: 600;
    width: calc(100% - 64px);
}


.contact-button {
    padding: 16px;
    background: var(--clr-accent);
    background: linear-gradient(50deg, rgba(211, 77, 74, 1) 0%, rgba(211, 99, 74, 1) 100%);
    width: fit-content;
    border-radius: 4px;
    font-weight: 600;
    color: white;
    cursor: pointer;
    margin-top: 24px;
}