<div class="contact">
    <h1 class="page-title">Une question ou un avis ? Contactez-nous !</h1>
    <div class="contact-left">
        <form class="contact-form">
            <div class="form-group"><label for="email" class="form-label">Email</label><input type="text" id="email"
                    class="form-input"></div>
            <div class="form-group"><label for="objet" class="form-label">Objet</label><input type="text" id="objet"
                    class="form-input"></div>
            <div class="form-group"><label for="message" class="form-label">Message</label><textarea id="message"
                    class="form-area"></textarea></div>
                    <div class="contact-button">Envoyer</div>
        </form>
    </div>
    <div class="contact-right">
        <div class="coord-group">
            <div class="coord-figure"><img width="20px" height="20px" src="assets/email-icon.webp"
                    alt="email"></div><span class="coord-text text-hidden">lionel.papi97410@gmail.com</span>
        </div>
        <div class="coord-group">
            <div class="coord-figure"><img width="20px" height="20px" src="assets/phone-icon.webp"
                    alt="telephone"></div><span class="coord-text text-hidden">0692 71 49 06 / 0692 06 31 65</span>
        </div>
        <div class="coord-group">
            <div class="coord-figure"><img width="20px" height="20px" src="assets/localisation-icon.webp"
                    alt="location"></div><span class="coord-text">199 rue du Général Lambert 97436 Saint-Leu</span>
        </div>
    </div>
</div>