<div class="navbar">
    <div class="navbar-logo"><img class="logo-desktop" width="48px" height="48px" src="assets/sushi.png" alt="Logo"><img class="logo-mobile" width="32px" height="32px" src="assets/sushi.png" alt="Logo"></div>
    <div class="navbar-links">
        <a href="" class="navbar-link">Accueil</a>
        <a href="nos-produits" class="navbar-link">Catalogue</a>
        <a href="notre-equipe" class="navbar-link">L'équipe</a>
        <a href="contact" class="navbar-link">Nous contacter</a>
    </div>
    <div class="navbar-cart">
        <div class="navbar-mobile">
            <img width="32px" height="32px" src="assets/icon-menu.png" alt="menu" class="cart-icon" title="Menu">

        </div>
        <div class="cart-figure">

            <img width="20px" height="20px" src="assets/cart.png" alt="panier" class="cart-icon" title="Mon panier">
        </div>
    </div>
</div>