
.navbar-links {
    display: flex;
    align-items: center;
    gap: 48px;
}

.navbar-link {
    font-family: Montserrat;
    color: var(--clr-text);
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    transition: .3s ease;
    padding-bottom: 4px;
    transform: translateY(4px);
}

.navbar-link::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 3px;
    background-color: var(--clr-accent);
    bottom: -2px;
    left: 0;
    transition: .3s;

}

.navbar-link:hover::after {
    width: 100%;
}

.navbar-cart {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
}

.cart-text {
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    color: var(--clr-dark);
}

.cart-figure {
    width: 48px;
    height: 48px;
    border-radius: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 2px solid #ececec;
}

.navbar-mobile {
    display: none;
}.logo-mobile {
    display: none;
}


@media screen and (max-width: 768px) {

    .navbar-mobile {
        display: flex;
        align-items: center;
        justify-content: center;
    }
.navbar-links {
    display: none;
}

.cart-figure {
    display: none;
}

.logo-mobile {
    display: block;
}

.logo-desktop {
    display: none;
}

}

