<div class="testimonials-section">
    <h3 class="section-title">Ce qu'en pensent nos clients 😊</h3>
    <div class="testimonials-grid">
        <div class="testimonials-card">
            <p class="card-description">Accueil chaleureux pour l’anniversaire des 1 an et dégustation excellentes!! Merci à
                vous pour ces sushis toast rillettes salades de poulpe tataki de thon excellent. Je reviendrai avec plaisir
                merci beaucoup à vous!!</p>
            <div class="card-footer">
                <div class="footer-icon">
                    <img width="48px" height="48px" src="assets/avis-valerie.png">
                </div>
                <p class="footer-author">Valérie Gilliot</p>
                <div class="footer-rating"><img src="assets/star.png" width="16px" height="16px" alt="star">
                    <img src="assets/star.png" width="16px" height="16px" alt="star">
                    <img src="assets/star.png" width="16px" height="16px" alt="star">
                    <img src="assets/star.png" width="16px" height="16px" alt="star">
                    <img src="assets/star.png" width="16px" height="16px" alt="star">
                </div>
            </div>
        </div>
        <div class="testimonials-card">
            <p class="card-description">Super accueil, poisson hyper frais et beaucoup de choix ! Un bonheur de vous avoir à
                Saint Leu, merci</p>
            <div class="card-footer">
                <div class="footer-icon"><img width="48px" height="48px" src="assets/avis-m.png"></div>
                <p class="footer-author">Marine de Maisoncelle</p>
                <div class="footer-rating"><img src="assets/star.png" width="16px" height="16px" alt="star">
                    <img src="assets/star.png" width="16px" height="16px" alt="star">
                    <img src="assets/star.png" width="16px" height="16px" alt="star">
                    <img src="assets/star.png" width="16px" height="16px" alt="star">
                    <img src="assets/star.png" width="16px" height="16px" alt="star">
                </div>
            </div>
        </div>
        <div class="testimonials-card">
            <p class="card-description">Tres bonne poissonnerie... une mention spéciale pour la salade de zourites ! !</p>
            <div class="card-footer">
                <div class="footer-icon"><img width="48px" height="48px" src="assets/avis-samuel.png"></div>
                <p class="footer-author">Samuel Le meur</p>
                <div class="footer-rating"><img src="assets/star.png" width="16px" height="16px" alt="star">
                    <img src="assets/star.png" width="16px" height="16px" alt="star">
                    <img src="assets/star.png" width="16px" height="16px" alt="star">
                    <img src="assets/star.png" width="16px" height="16px" alt="star">
                    <img src="assets/star.png" width="16px" height="16px" alt="star">
                </div>
            </div>
        </div>

    </div>
</div>