<div class="galery-section">
    <!-- <h3 class="section-title">Des produits frais et locaux !</h3> -->
    <div class="galery-grid">
        <div class="galery1 galery-image"></div>
        <div class="galery2 galery-image"></div>
        <div class="galery3 galery-image"></div>
        <div class="galery4 galery-image"></div>
        <div class="galery5 galery-image"></div>
        <div class="galery6 galery-image"></div>
        <div class="galery7 galery-image"><a href="notre-equipe" class="galery-button">Notre équipe</a></div>
    </div>
</div>