* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --clr-background: #FCFAFA;
    --clr-accent-dark: #D34D4A;
    --clr-accent: #D3634A;
    --clr-accent-light: #d3634a10;
    --clr-text: #2b2c34;
    --clr-dark: #282C32;
}

body {
    background-color: var(--clr-background);
    font-family: Montserrat;
}

.page-title {
    font-size: 26px;
    font-family: Montserrat;
    color: var(--clr-text);
    font-weight: 800;
    width: 100%;
    text-align: center;
    margin-bottom: 24px;
}

.page-subtitle {
    font-size: 20px;
    font-family: Nunito;
    color: var(--clr-text);
    font-weight: 700;
    width: 100%;
    text-align: center;
    margin-bottom: 32px;
}

.section-title {
    font-size: 22px;
    font-family: Montserrat;
    color: var(--clr-text);
    margin-bottom: 24px;
    font-weight: 700;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    margin: auto;
    padding: 16px 0;
    box-shadow: 0px 15px 10px -15px #00000010;
}


.landing-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, auto);
    grid-column-gap: 48px;
    grid-row-gap: 0px;
    max-width: 1400px;
    margin: 32px auto;
    padding: 24px 0;
    background-color: var(--clr-background);
}

.products-section {
    max-width: 1400px;
    margin: 0 auto 24px auto;
    border-bottom: 2px solid #ececec;
    padding-bottom: 48px;
}


.galery-section {
    max-width: 1400px;
    margin: 48px auto 24px auto;
}

.contact {
    display: flex;
    flex-wrap: wrap;
    max-width: 1400px;
    margin: 48px auto;
}

.team-section {
    max-width: 1400px;
    margin: 48px auto 24px auto;
}

.galery-grid {
    min-height: 500px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 24px;

}

.galery1 {
    grid-area: 1 / 1 / 4 / 2;
    background-image: url(assets/galery1.jpg);
}

.galery2 {
    grid-area: 4 / 1 / 7 / 2;
    background-image: url(assets/galery2.jpg);
}

.galery3 {
    grid-area: 1 / 2 / 3 / 3;
    background-image: url(assets/galery3.jpg);
}

.galery4 {
    grid-area: 3 / 2 / 5 / 3;
    background-image: url(assets/galery4.jpg);
}

.galery5 {
    grid-area: 5 / 2 / 7 / 3;
    background-image: url(assets/galery5.jpg);
}

.galery6 {
    grid-area: 1 / 3 / 4 / 4;
    background-image: url(assets/galery6.jpg);
}

.galery7 {
    grid-area: 4 / 3 / 7 / 4;
    background-image: url(assets/galery7.jpg);
}

.products-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 24px;
}


.testimonials-section {
    max-width: 1400px;
    margin: 32px auto;
    padding: 24px 0;
}


.testimonials-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 24px;
}


@media screen and (max-width: 1500px) {

    .landing-section,
    .products-section,
    .testimonials-section,
    .galery-section,
    .navbar {
        max-width: 100%;
        padding: 24px 12%;
    }

    .products-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 24px;
    }

    .testimonials-card {
        padding: 20px !important;
    }
}



@media screen and (max-width: 1100px) {

    .landing-section,
    .products-section,
    .testimonials-section,
    .galery-section,
    .navbar {
        max-width: 100%;
        padding: 24px 8%;
    }

    .products-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 24px;
    }

    .testimonials-card {
        padding: 20px !important;
    }
}

@media screen and (max-width: 960px) {

    .landing-section,
    .products-section,
    .testimonials-section,
    .galery-section,
    .navbar {
        max-width: 100%;
        padding: 24px 48px;
    }

    .products-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
        gap: 24px;
    }

    .testimonials-card {
        padding: 20px !important;
    }

    .galery-section {
        margin: 0 auto 32px auto;
        padding: 0 48px;
    }

    .testimonials-section {
        margin: 0 auto 32px auto;
    }

    .testimonials-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        gap: 24px;
    }
}


@media screen and (max-width: 768px) {
    .landing-section {
        grid-template-columns: 1fr;
        margin: 0;
    }

    .testimonials-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, auto);
        gap: 24px;
    }

    .landing-section,
    .products-section,
    .testimonials-section,
    .galery-section,
    .navbar {
        padding: 24px;
    }

    .galery-section {
        margin-bottom: 0;
        padding: 12px 24px;
    }

    .galery-grid {
        min-height: 300px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 12px;
    }

    .galery1 {
        grid-area: 1 / 1 / 2 / 2;

        background-image: url(assets/galery1.jpg);
    }

    .galery2 {
        grid-area: 2 / 1 / 3 / 2;

        background-image: url(assets/galery2.jpg);
    }

    .galery3 {
        display: none;
    }

    .galery4 {
        display: none;
    }

    .galery5 {
        display: none;
    }

    .galery6 {
        grid-area: 1 / 2 / 2 / 3;

        background-image: url(assets/galery6.jpg);
    }

    .galery7 {
        grid-area: 2 / 2 / 3 / 3;

        background-image: url(assets/galery7.jpg);
    }
}


@media screen and (max-width: 450px) {
    .products-section {
        grid-template-columns: 1fr;
    }

    .products-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(12, 1fr);
        gap: 24px;
    }


}